/**
 * This file contains all the color variables for the site
 */
$black: #000;
$dark-gray: #555;
$white: #fff;
$green: #383;
$red: #383;
$blue: #00f;
$teal: #00b5ad;

// Changes the text highlighting color
$selection-foreground: $blue;
$selection-background: $white;
